// out: false 

* {
    font-family: 'Ubuntu', 'Sans-serif';
	box-sizing: border-box;
}
  
html, body {
	margin: 0;
	padding: 0;
    background-color: @background-color;
	overflow: hidden;

    .form {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		gap: 15px;
		margin-top: 125px;
		margin-bottom: 25px;
	
		#number {
			background: transparent;
			border: none;
			border-bottom: 2px solid @main-color;
			text-align: center;
			color: @main-color;
			font-size: 45px;
			font-weight: 800;
			min-width: 300px;
			outline: none;
			zoom: 1;
		
			&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			&:focus {
				outline: none;
				border-bottom: 3px solid @main-color;
			}
      	}
    }

	#display-color {
		border: 1px solid black;
		width: 35vw;
		height: 50px;
		margin: 0 auto;
		min-width: 300px;
	}
  
    #display {
        color: @main-color;
        font-size: 24px;
        padding-top: 10px;
		width: 35vw;
		margin: 0 auto;
		min-width: 300px;
    }

	.gear {
		font-size: 75px;
		background-color: @button-color;
		padding: 14px;
		border-radius: 100%;
		position: absolute;
		top: 25px;
		right: 25px;
		transition: .5s;
		cursor: pointer;

		&:hover {
			background-color: @button-hover-color;
		}
	}

	#parametres {
		height: 100vh;
		width: @parametres-size;
		background-color: @background-color;
		position: absolute;
		right: -@parametres-size;
		top: 0;
		transition: .8s;
		padding: 170px 30px;
		display: flex;
		flex-direction: column;
		gap: 45px;
	}
	
	#parametres.active {
		box-shadow: 18px -1px 16px 27px #000000;
		transform: translateX(-@parametres-size);
	}

	#vail {
		width: 100vw;
		height: 100vh;
		display: none;
		opacity: 0.5;
		background-color: black;
		position: absolute;
	
		&.active {
			display: block;
		}
	}
}