// out: false

@media (max-width: 768px) {

    html, body {
        position: relative;
		height: 100vh !important;
		overflow-x: hidden !important; 
		overflow-y: auto !important;
		
		h2 {
			margin: 10px 0 !important;
		}

		.form {
			margin-top: 65px !important; 
		}
		
		#display-color,
		#display {
			width: auto;
		}
		
		.gear {
			font-size: 25px; 
		}
		
		#parametres {
			padding: 130px 15px !important; 
		}
	}
}