button {
  background-color: #89D9A9;
  color: white;
  border: none;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}
button:hover {
  background-color: #9CF8A7;
}
button.main {
  min-width: 300px;
  padding: 15px;
}
button.second {
  padding: 12px 30px;
  height: 45px;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4bC1C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
* {
  font-family: 'Ubuntu', 'Sans-serif';
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fffdf5;
  overflow: hidden;
}
html .form,
body .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 125px;
  margin-bottom: 25px;
}
html .form #number,
body .form #number {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  color: black;
  font-size: 45px;
  font-weight: 800;
  min-width: 300px;
  outline: none;
  zoom: 1;
}
html .form #number::-webkit-outer-spin-button,
body .form #number::-webkit-outer-spin-button,
html .form #number::-webkit-inner-spin-button,
body .form #number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html .form #number:focus,
body .form #number:focus {
  outline: none;
  border-bottom: 3px solid black;
}
html #display-color,
body #display-color {
  border: 1px solid black;
  width: 35vw;
  height: 50px;
  margin: 0 auto;
  min-width: 300px;
}
html #display,
body #display {
  color: black;
  font-size: 24px;
  padding-top: 10px;
  width: 35vw;
  margin: 0 auto;
  min-width: 300px;
}
html .gear,
body .gear {
  font-size: 75px;
  background-color: #89D9A9;
  padding: 14px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  right: 25px;
  transition: 0.5s;
  cursor: pointer;
}
html .gear:hover,
body .gear:hover {
  background-color: #9CF8A7;
}
html #parametres,
body #parametres {
  height: 100vh;
  width: 350px;
  background-color: #fffdf5;
  position: absolute;
  right: -350px;
  top: 0;
  transition: 0.8s;
  padding: 170px 30px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
html #parametres.active,
body #parametres.active {
  box-shadow: 18px -1px 16px 27px #000000;
  transform: translateX(-350px);
}
html #vail,
body #vail {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0.5;
  background-color: black;
  position: absolute;
}
html #vail.active,
body #vail.active {
  display: block;
}
@media (max-width: 768px) {
  html,
  body {
    overflow: auto;
  }
  #display-color,
  #display {
    width: 90vw;
  }
  .gear {
    font-size: 50px;
  }
  #parametres {
    padding: 80px 15px;
  }
}
