@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4bC1C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
* {
  font-family: 'Ubuntu', 'Sans-serif';
}
body {
  background-color: #273e58;
}
body .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
body .form #number {
  background: transparent;
  border: none;
  border-bottom: 2px solid #eea63d;
  text-align: center;
  color: #eea63d;
  font-size: 45px;
  font-weight: 800;
}
body .form #number:focus {
  outline: none;
  border-bottom: 3px solid #eea63d;
}
body .form #submit {
  background-color: #2c82c9;
  color: white;
  border: none;
  padding: 15px;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  min-width: 300px;
  font-size: 20px;
}
body .form #submit:hover {
  background-color: #1e5e96;
}
body #display {
  color: #eea63d;
  font-size: 24px;
  margin-top: 20px;
  border-top: 2px solid #eea63d;
  padding-top: 10px;
}
