.form-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-container form h1 {
  text-align: center;
}
.form-container form input {
  max-width: 12vw !important;
}
* {
  font-family: 'Ubuntu', 'Sans-serif';
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.5s;
}
html .form,
body .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 125px;
  margin-bottom: 25px;
}
html .carte,
body .carte {
  width: 35vw;
  margin: 0 auto;
  min-width: 300px;
  margin-bottom: 30px;
}
html .carte.not-show,
body .carte.not-show {
  opacity: 0;
}
html .carte h2,
body .carte h2 {
  margin-top: 0;
}
html #display-color,
body #display-color {
  width: calc(35vw - 2px);
  height: 85px;
  margin: 0 auto;
  min-width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-size: 40px;
}
html #display,
body #display {
  font-size: 24px;
  padding: 25px;
  width: 35vw;
  margin: 0 auto;
  min-width: 300px;
}
html .gear,
body .gear {
  font-size: 45px;
  background-color: #39955C;
  padding: 14px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  right: 25px;
  transition: 0.5s;
  cursor: pointer;
}
html .gear:hover,
body .gear:hover {
  background-color: #1e6f3d;
}
html #parametres,
body #parametres {
  height: 100vh;
  width: 350px;
  position: absolute;
  right: -350px;
  top: 0;
  transition: 0.8s;
  padding: 170px 30px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
html #parametres.active,
body #parametres.active {
  transform: translateX(-350px);
}
html #vail,
body #vail {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0.5;
  background-color: black;
  position: absolute;
}
html #vail.active,
body #vail.active {
  display: block;
}
html .shuffle,
body .shuffle {
  position: relative;
}
html .shuffle:after,
body .shuffle:after {
  content: "Les gages ont été mélangés";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  width: 100%;
  display: block;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
html .shuffle.show-message:after,
body .shuffle.show-message:after {
  opacity: 1;
}
@media (max-width: 768px) {
  html,
  body {
    position: relative;
    height: 100vh !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  html h2,
  body h2 {
    margin: 10px 0 !important;
  }
  html .form,
  body .form {
    margin-top: 65px !important;
  }
  html #display-color,
  body #display-color,
  html #display,
  body #display {
    width: auto;
  }
  html .gear,
  body .gear {
    font-size: 25px;
  }
  html #parametres,
  body #parametres {
    padding: 130px 15px !important;
  }
}
body.light {
  background-color: #fffdf5;
}
body.light .carte {
  border: 1px solid black;
}
body.light .carte i {
  color: #fffdf5;
}
body.light #display {
  color: black;
}
body.light #display-color {
  border-bottom: 1px solid black;
}
body.light #parametres {
  background-color: #fffdf5;
}
body.light #parametres.active {
  box-shadow: 18px -1px 16px 27px black;
}
body.light input {
  border-bottom: 2px solid black;
  color: black;
}
body.light input.focus {
  border-bottom: 3px solid black;
}
body.light .shuffle:after {
  color: black;
}
body.dark {
  background-color: #0a0a0a;
}
body.dark .carte {
  border: 1px solid #e0e0e0;
}
body.dark .carte i {
  color: #0a0a0a;
}
body.dark #display {
  color: #e0e0e0;
}
body.dark #display-color {
  border-bottom: 1px solid #e0e0e0;
}
body.dark #parametres {
  background-color: #0a0a0a;
}
body.dark #parametres.active {
  box-shadow: 18px -1px 16px 27px #e0e0e0;
}
body.dark input {
  border-bottom: 2px solid #e0e0e0;
  color: #e0e0e0;
}
body.dark input.focus {
  border-bottom: 3px solid #e0e0e0;
}
body.dark .shuffle:after {
  color: #e0e0e0;
}
button {
  background-color: #39955C;
  color: white;
  border: none;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}
button:hover {
  background-color: #1e6f3d;
}
button.main {
  min-width: 300px;
  padding: 15px;
}
button.second {
  padding: 12px 30px;
  height: 45px;
}
input {
  background: transparent;
  border: none;
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  min-width: 300px;
  outline: none;
  zoom: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: none;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4bC1C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3Ttw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
